body
{
    margin:0;
    padding: 0;
    font-family: sans-serif;
    background: url('https://image.so.com/view?q=%E5%86%9C%E4%B8%9A%E5%9B%BE%E7%89%87%E9%AB%98%E6%B8%85&listsrc=sobox&listsign=bb34e4a01c0632c6947aed90777ca048&src=360pic_strong&correct=%E5%86%9C%E4%B8%9A%E5%9B%BE%E7%89%87%E9%AB%98%E6%B8%85&ancestor=list&cmsid=5f70c4ba404af720cb7b8a3b18f26c51&cmras=0&cn=0&gn=0&kn=0&crn=0&bxn=0&fsn=60&cuben=0&pornn=0&manun=30&adstar=0&clw=284#id=f5beaae4fcf1e1cb7b9f059acaa690d2&currsn=0&ps=89&pc=89');
    background-size: cover;
}
.box
{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width:400px;
    padding: 40px;
    background: rgba(0,0,0,.8);
    box-sizing : border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.5);
    border-radius: 10px;
}
.box h2
{
    margin:0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}
.box .inputBox
{
    position: relative;
}
.box .inputBox input
{
    width:100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.box .inputBox label
{
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    letter-spacing: 1px;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}
.box .inputBox input:focus ~ label,
.box .inputBox input:valid ~ label
{
    top:-18px;
    left:0;
    color:#03a9f4;
    font-size: 12px;
}
.box input[type="submit"]
{
    background: transparent;

    border: none;
    outline:none;
    color: #fff;
    background: #03a9f4;
    padding: 10px 20px;
    cursor:pointer;
    border-radius: 5px;
}
